# Creating a Databases in MySQL

In [7]:
import  mysql.connector as sql

In [8]:
# Create MySQL connection
connection = sql.connect(
  host="localhost",
  user="root",
  password="12345"
)

print(connection)

<mysql.connector.connection.MySQLConnection object at 0x000001C58A887848>

# Creating Database

In [10]:
cursor = connection.cursor()
cursor.execute("CREATE DATABASE Sstudent")

In [11]:
cursor.execute('SHOW DATABASES')

In [13]:
for databases in cursor:
    print(databases)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sstudent',)
('student',)
('swapsam',)
('sys',)
('world',)

# Execute And Drop Some Databases And Check

In [14]:
cursor.execute("DROP DATABASE sstudent")

In [15]:
cursor.execute('SHOW DATABASES')

In [16]:
for databases in cursor:
    print(databases)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('swapsam',)
('sys',)
('world',)