In [46]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="12345",
  database="swapsam"
)

print(connection)

<mysql.connector.connection.MySQLConnection object at 0x0000022CEC3C48C8>

# Create Table In MySQL using Python

In [47]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

# Insert Records in TableÂ¶

In [48]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [49]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

In [51]:
#You need to commit your transaction for the database to make your insert permanent to be reflected in MySQL Database
connection.commit()

# Select All

In [52]:
cursor =connection.cursor()
cursor.execute("Select * from studentinfo")

In [45]:
### Fetch All the Data
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Krish', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [37]:
### Fetch One Record At A time
cursor.fetchone()

In [53]:
lst=cursor.fetchall()

In [54]:
for records in lst:
    print(records)

(1, 'John', 'Stats')
(2, 'Krish', 'Stats')
(3, 'Joe', 'Maths')
(4, 'Ankur', 'Data Science')
(5, 'Paul', 'Data Science')
(6, 'Vishal', 'Maths')
(7, 'Krish', 'Data Science')

# Selecting Particular Rows

In [64]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [65]:
### Fetch All the Data
cursor.fetchone()

(2, 'Krish', 'Stats')

# Select Particular Columns

In [69]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [70]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [71]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

# Drop Table

In [72]:
cursor.execute("DROP TABLE studentinfo")